.background{
    background: url('./wmsu-campus\ 2.png') no-repeat center fixed;
    background-size: cover;
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    z-index: -1;
}
button{
    background-image:url(Candidate\ with\ name.png);
    background-size: cover;
    width: auto;
    height:auto;
    background-repeat: no-repeat; 
    background-position: center;
    padding: 50px;
    transition: all 0.5s ease;
}

button:hover{
    box-shadow: 0 0 5px blue, 0 0 25px blue, 0 0 50px blue,
     0 0 100px blue, 0 0 200px blue;
}

button:active {
    transform: scale(0.85);
}
